/Users/ripathak/Documents/Automation/looker-test-pip-package/looker_test_module/looker_test_module.egg-info/
/Users/ripathak/Documents/Automation/looker-test-pip-package/looker_test_module/__init__.py
/Users/ripathak/Documents/Automation/looker-test-pip-package/looker_test_module/.idea
/Users/ripathak/Documents/Automation/looker-test-pip-package/looker_test_module/dist
